Language: Cpp
BreakBeforeBraces: Allman

SortIncludes: false
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
BreakAfterJavaFieldAnnotations: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BreakConstructorInitializers: BeforeColon
LambdaBodyIndentation: OuterScope
IndentPPDirectives: AfterHash
Cpp11BracedListStyle: false

BraceWrapping:
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true
  IndentBraces: false
  BeforeLambdaBody: true
  SplitEmptyRecord: false

BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
AlignOperands: Align
ColumnLimit: 0
BreakStringLiterals: false

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
CompactNamespaces: false
NamespaceIndentation: All
FixNamespaceComments: true
IndentCaseLabels: true
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInContainerLiterals: true
SpaceBeforeRangeBasedForLoopColon: true
TabWidth: 4
UseTab: Always
